<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Drostichat</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <style>
        body {
            background: #1a1a2e;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            width: 100vw;
        }

        h1 {
            color: #e94560;
            font-family: 'Roboto', sans-serif;
            font-size: 28px;
        }

        .button {
            display: block;
            background: #16213e;
            padding: 8px 16px;
            color: #e94560;
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            text-decoration: none;
            border: 2px solid #0f3460;
            border-radius: 4px;
            margin-top: 40px;
        }

        .top-row {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 25px 0;
            background: #16213e;
            border-bottom: 4px solid #0f3460;
            display: flex;
            justify-content: center;
        }

        .headline {
            color: #e94560;
            font-family: 'Roboto', sans-serif;
            font-size: 32px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="top-row">
        <span class="headline">DROSTICHAT</span>
    </div>
    <h1>Verbinde dich mit deinen "Freunden", um mit ihnen über Video zu chatten!</h1>
    <a class="button" href="/rooms">Öffne einen Raum</a>
</body>
</html>
